*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 16px 0;
    background-image: url(./imagens/TRIO\ MONSTRO.jpg);
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    text-align: center;
    background-size: cover;
}


header h1{
    margin-top: 16px;
    margin-bottom: 16px;
    color: #fff;
    font-size: 100px;
}

header nav li{
    display: inline-flex;
    justify-content: space-between;
    color: #fff;
    font-size: 40px;
}

a:link{
    color: #fff;
}
a:visited{
    color: #fff;
}

header nav li a{
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container .box{
    width: 600px;
    margin: 16px;
    display: table;
}

.container .box .box-row{
    display: table-row;
}

.container .box .box-cell{
    display: table-cell;
    width: 50%;
    padding: 10px;
}

.container .box .box-cell img{
    max-height: 200px;
    max-width: auto;
}

section{
    padding: 16px 16px;
}

section h2{
    text-align: center;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 65px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.gif{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
}

body{
    background-color: black;
}

p{
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

#zoro h2{
    font-size: 50px;
    color: green;
}

#luffy h2{
    font-size: 50px;
    color: red;
}

#sanji h2{
    font-size: 50px;
    color: yellow;
}

form{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #fff;
    padding: 16px;
    display: block;
    width: 400px;
    font-size: 20px;
}

legend{
    font-family: 'Bebas Neue', cursive;
    padding: 16px;
    font-size: 40px;
}

#luffyimg{
    position: absolute;
    right: 750px;
    top: 1630px;
}

form img{
    width: auto;
    height: 200px;
}

h3{ 
    padding: 16px;
    font-size: 25px;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 16px;
}

input{
    cursor: pointer;
    border: #fff;
    background-color: silver;
    display: block;
    margin-left: 100px;
}